Udemy Demos/Build VM/terraform.tfstate
Udemy Demos/Build VM/terraform.tfstate.backup
Udemy Demos/Build VM/secretkeys/secret-255501.json
Udemy Demos/Build VM/.terraform/plugins/darwin_amd64/lock.json
Udemy Demos/Build VM/secretkeys/starks_serviceaccount_ncsu.ee2000.json
